@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

body {
  font-family: "Garamond";
}

.header {
  font-style: italic;
}

#menu-table {
  text-align: left;
  background-color: #f2f2f2;
  width: 100%;
}

#menu-table tr:nth-of-type(2n) {
  background-color: gainsboro;
}

#menu-table th {
  background-color: rgb(255, 198, 247);
  padding: 10px 0px 10px 2px;
}

.menu-layout {
  max-width: 740px;
  margin: auto;
  text-align: center;
}

.remove-comment {
  visibility: hidden;
  background-color: rgb(255, 198, 247);
  border-radius: 10px;
  box-shadow: -2px 3px 4px gray;
}
